Repository J-millar99/SK_Rookies_Mini_Project1, pull requests merged in 2025-04, with the labels that each got.

#8 Feature/#6
  analysis/city_job_marker_map.html
  analysis/dummy_analysis.ipynb
  analysis/preprocess.ipynb
  analysis/preprocess.py
Labels: feature, analysis, visualization

#13 Feature/#5 직종·직무(대분류)에 따른 웹 스크래핑 구현
  scraper/allpage.ipynb
  scraper/onepage.ipynb
  scraper/output/incruit_jobs.json
Labels: feature, scraping

#14 Feature/#10 데이터 분석 및 시각화
   requirements.txt
  .DS_Store
  analysis/IT_analysis.py
  analysis/career_analysis.py
  analysis/city_analysis.py
  analysis/employment_analysis.py
  analysis/preprocess.py
  analysis/salary_analysis.py
  data/IT직군.xlsx
  data/cleaned_data.json
  data/incruit_jobs.json
  data/raw_data.json
  data/경력분석.xlsx
  data/고용형태.xlsx
  data/지역분석.xlsx
  data/평균_연봉.xlsx
  visualization/.DS_Store
  visualization/city_plot.py
  visualization/gyeonggi_plot.py
  visualization/it_jobs_ploy.py
  visualization/result/IT직군_회사_상위_5개.png
  visualization/result/경기_직군별_채용공고_수.png
  visualization/result/상위_5개_회사_하위직군_분포.png
  visualization/result/서울_직군별_채용공고_수.png
  visualization/result/지역별_채용공고_비율.png
  visualization/seoul_plot.py
Labels: feature, analysis, visualization

#16 데이터베이스 구현 및 연동
  database/search.py
  database/setting.py
Labels: feature, database
